name: ci

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
      - 'README*'
      - 'LICENSE'
      - 'LICENSE*'
      - '.gitignore'
      - 'docs/**'
  push:
    branches:
      # This helps fill the caches properly, caches are not shared between PRs.
      - main
    # Don't run CI for changes that only touch docs or license files
    paths-ignore:
      - '**/*.md'
      - 'README*'
      - 'LICENSE'
      - 'LICENSE*'
      - '.gitignore'
      - 'docs/**'

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - run: corepack enable
      - uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm i

      - name: Run unit test
        run: pnpm test

      - name: Type check
        run: pnpm typecheck

      - name: Build the app
        run: pnpm build
